<% layout('layouts/boilerplateShow') %>

    <div class="cardChristmas">
        <div class="imgBox">
            <div class="bark"></div>
            <img
                src="https://res.cloudinary.com/dvmlczwti/image/upload/c_scale,h_400,w_300/v1639546518/Memory/el9iho90eq51nrtalnjp.png">
        </div>
        <div class="details">
            <div class="titleH4">
                <h4 class="color1">Merry Christmas</h2>
                    <h4 class="color2 margin">Merry Christmas!</h3>
            </div>
            <p>宝宝：</p>
            <p>展卷开颜。</p>
            <p>2021过得好快，好像发生了很多事，</p>
            <p>又好像转瞬而逝。</p>
            <p>有好多好多美好或难过的瞬间</p>
            <p>组成了我俩生命中珍贵的每一天，</p>
            <p>不该就这样渐渐淡去。</p>
            <p>我想在这里记下我们生活的点点滴滴，</p>
            <p>那些琐碎的记忆，</p>
            <p>好的、差的、深情的、悲伤的，</p>
            <p>只要是和你在一起的，</p>
            <p>我想留下它们。</p>
            <p class="text-right">Merry Christmas, Babe</p>
            <p class="text-right">Husband</p>
        </div>
    </div>