<% layout('layouts/boilerplateShow') %>

    <div class="cardChristmas">
        <div class="imgBox">
            <div class="bark"></div>
            <img
                src="https://res.cloudinary.com/dvmlczwti/image/upload/c_scale,h_400,w_300/v1645532416/Memory/bh0zhp3gxpax4ryyulbp.png">
        </div>
        <div class="details">
            <div class="titleH4">
                <h4 class="color1">Happy Valentine's D</h2>
                    <h4 class="color2 margin">Happy Valentine's D</h3>
            </div>
            <p>你是最好的情人。</p>
            <p>给我普普通通的人生赋予了意义，</p>
            <p>给我平平凡凡的生活带来了幸福。</p>
            <p>照顾我，安慰我，</p>
            <p>无条件讨厌所有让我生气的人，</p>
            <p>告诉我你需要我，</p>
            <p>让我知道自己是个有用的人，</p>
            <p>给我勇气和鼓励，</p>
            <p>逗我哈哈笑。</p>
            <p>你努力的时候让我心疼，</p>
            <p>可爱的时候把我的心都融化了。</p>
            <p>和你在一起很幸福。</p>
            <img src="https://res.cloudinary.com/dvmlczwti/image/upload/v1645532424/Memory/ri8lhkwfkaagfwy0semr.png"
                alt="" style="height: 90px;">
        </div>
    </div>