<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memories..</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Ma+Shan+Zheng&display=swap" rel="stylesheet">
    <style>
        ::selection {
            background: transparent;
        }

        h4 {
            font-size: 35px;
            line-height: 1px;
            font-family: 'Amatic SC', cursive !important;
        }

        .color1 {
            color: #1BBC9B
        }

        /*MOUNTAIN MEADOW*/
        .color2 {
            color: #C0392B
                /*TALL POPPY*/
        }


        .cardChristmas {
            color: #013243;
            /*SHERPA BLUE*/
            position: absolute;
            top: 50%;
            left: 50%;
            width: 300px;
            height: 400px;
            background: #e0e1dc;
            transform-style: preserve-3d;
            transform: translate(-50%, -50%) perspective(2000px);
            box-shadow: inset 300px 0 50px rgba(0, 0, 0, .5), 20px 0 60px rgba(0, 0, 0, .5);
            transition: 1s;
        }

        .cardChristmas:hover {
            transform: translate(-50%, -50%) perspective(2000px) rotate(15deg) scale(1.2);
            box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 10px 100px rgba(0, 0, 0, .5);
        }

        .cardChristmas:before {
            content: '';
            position: absolute;
            top: -5px;
            left: 0;
            width: 100%;
            height: 5px;
            background: #BAC1BA;
            transform-origin: bottom;
            transform: skewX(-45deg);
        }

        .cardChristmas:after {
            content: '';
            position: absolute;
            top: 0;
            right: -5px;
            width: 5px;
            height: 100%;
            background: #92A29C;
            transform-origin: left;
            transform: skewY(-45deg);
        }

        .cardChristmas .imgBox {
            width: 100%;
            height: 100%;
            position: relative;
            transform-origin: left;
            transition: .7s;
        }

        .cardChristmas .bark {
            position: absolute;
            background: #e0e1dc;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: .7s;
        }

        .cardChristmas .imgBox img {
            min-width: 250px;
            max-height: 400px;
        }

        .cardChristmas:hover .imgBox {
            transform: rotateY(-135deg);
        }

        .cardChristmas:hover .bark {
            opacity: 1;
            transition: .6s;
            box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
        }

        .cardChristmas .details {
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            padding: 0 0 0 10px;
            z-index: -1;
            margin-top: 40px;
        }

        .cardChristmas .details .titleH4 {
            margin-bottom: 25px;
        }

        .cardChristmas .details p {
            font-family: 'Ma Shan Zheng', cursive !important;
            font-size: 15px;
            line-height: 5px;
            transform: rotate(-10deg);
            padding: 0 0 0 20px;
        }

        .cardChristmas .details h4 {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }
    </style>
</head>

<body class="d-flex flex-column vh-100">
    <%- include("../partials/navbar") %>
        <main class="container mt-5">
            <%- include('../partials/flash') %>
                <%- body %>
        </main>
        <%- include("../partials/footer") %>

            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
                integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
                integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

</body>

</html>